






@media only screen 
  and (min-device-width: 500px) {

}


.intro-container{
	
	height:64%;
	margin:0 auto;
	padding:15em 0 0;
	width:60%;
	h1{
		font:900 4.5em 'Lato', Helvetica;
		margin:0;
		text-transform: uppercase;
	}
	p{
		font-size:1.5em;
		font-weight: 300;
		line-height: 1.2em;
		margin:0.4em 0;
	}
}
.me{
	display: inline-block;
	width:34%;
}
.intro{
	display:inline-block;
	position:relative;
	width:64%;
}
.social-menu{
	ul{
		list-style: none;
		padding:0;
	}
	li{
		display: inline-block;
		padding:1em 4% 0 0;
	}
	a{
		color:$colorBlack;
		display: inline-block;
		font-size:1.6em;

		@include transition(all, .2s, ease-out);
	}
	a:hover{
		color:$menuGreen;
		@include translate(0,-2px);
	}
}
.down-btn{
	background-color:$menuGreen;
	border:none;
	display:block;
	left:50%;
	height:33px;
	margin:5em 0 0 -14px;
	outline:none;
	position: absolute;
	top:61%;
	width:32px;
	@include border-radius(50%);
	@include transition-transform(.3s, ease-out);
	&:after{
		content:' ';
		//background-color:darken($menuGreen, 20%);
		background-color:$colorGrayLighter;
		display: block;
		height:33px;
		margin:-27px 0 0 -6px;
		position:absolute;
		width:32px;
		@include scale(0,0);
		@include border-radius(50%);
		@include transition-transform(.2s, ease-out);
	}
	&:hover{
		//@include translate(0,4px);
		&:after{
			@include scale(.9,.9);
		}
		.arrow{
			stroke:$menuGreen;
		}
	}
	
	svg{
		position:relative;
		z-index:3;
	}

}
.projects-preview{
	margin:5em 0 0;
}
.projects-preview-header{
	background-color:$colorBlack;
	border-bottom:1px solid white;

	padding:2.5em 2em 0.1em;
	h1{

		color: white;
		font:900 3em 'Lato', Helvetica;
		text-transform: uppercase;
		&:after{
			background-color:$menuGreen;
			content:' ';
			display: block;
			height:2px;
			width:14%;
		}
	}

}
.projects-preview-list{
	padding:0;
	list-style:none;
	margin:0;
	li{
		
		display: inline-block;
		width:33.3%;
	}
	li+li{
		border-left:1px solid white;
	}
	a{
		display: block;
		color:white;
		text-decoration: none;
	}

	article{
		position:relative;
	}
	article>img{
		width:100%;
	}
	h1, h2{
		margin:0;
	}
}
.project-preview-data{
	//background-color:transparentize($colorBlack, .2);
	background-color:$colorBlack;
	margin-top:-125px;
	padding:1em 1em 3em;
	position:relative;
	//width:100%;

}
.project-title{
	font:900 1.2em 'Lato', Helvetica;
	text-transform:uppercase;
}
.project-tech{
	font-size:.9em;
	font-weight:400;
}
