
.intro-container{
	
	background-size:50%;
	width:100%;
	h1{
		font:900 4em 'Lato', Helvetica;
		line-height: 1em;
		margin:0 0 .3em;
		text-align: center;
		text-transform: uppercase;
	}
	p{
		font-size:1.1em;
		font-weight: 300;
		line-height: 1.1em;
		margin:0.4em 0;
		text-align: center;
	}
}
.intro{
	margin-top:-100px;
	padding:4%;
	position:relative;
}
.social-menu{
	ul{
		list-style: none;
		padding:0;
		text-align: center;
	}
	li{
		display: inline-block;
		padding:1em 5% 0;
	}
	a{
		color:$colorBlack;
		display: inline-block;
		font-size:1.6em;

		@include transition(all, .2s, ease-out);
	}
	a:hover, a:active{
		color:$menuGreen;
		@include translate(0,-2px);
	}
}
.down-btn{
	display:none;
}

.projects-preview-header{
	background-color:$colorBlack;
	border-bottom:1px solid white;
	padding: 1.6em 0 1.2em;
	h1{
		color: white;
		font:900 2em 'Lato', Helvetica;
		margin:0;
		padding:1em 0.5em;
		text-transform: uppercase;
		&:after{
			background-color:$menuGreen;
			content:' ';
			display: block;
			height:2px;
			width:30%;
		}
	}
}
.projects-preview-list{
	padding:0;
	list-style:none;
	margin:0;
	a{
		display: block;
		color:white;
		text-decoration: none;
	}
	article{
		position:relative;
	}
	article>img{
		width:100%;
	}
	h1, h2{
		margin:0;
	}
}
.project-preview-data{
	//background-color:transparentize($colorBlack, .2);
	background-color:$colorBlack;
	margin-top:-97px;
	padding:1em 1em;
	position:relative;
	//width:100%;

}
.project-title{
	font:900 1.2em 'Lato', Helvetica;
	text-transform:uppercase;
}
.project-tech{
	font-size:.9em;
	font-weight:400;
}
.me{
	margin: -100px auto 0;
	position:relative;
	z-index:2;
	@include scale(.4,.4);
	&:before{
		background: url(../images/shadow.png) center center no-repeat;
		background-size:100%;
		content:' ';
		display: block;
		height:60px;
		margin-left:-50%;
		position:absolute;
		bottom:-30px;
		width:200%;
		z-index: -1;
	}
}



@media only screen 
  and (min-width: 600px) {
  	.me{
  		display: inline-block;
  		vertical-align: middle;
  		width:34%;
  	}
  	.intro-container{
  		font-size:0.7em;
  		height:64%;
  		margin:0 auto;
  		padding:10% 0 0;
  		text-align: center;
  		width:100%;
  		h1{
  			line-height: normal;
  			margin:0;
  			text-align: left;
  		}
  		p{
  			font-size:1.5em;
  			line-height: 1.2em;
  			margin:0.4em 0;
  			text-align: left;
  		}
  	}
  	.intro{
  		display:inline-block;
  		padding:0 10px 0 0;
  		vertical-align: middle;
  		width:56%;
  	}
  	.social-menu{
  		padding:1em 4% 0 0;
  		a{
  			font-size:2em;
  		}
  	}
  	
  	.projects-preview{
  		font-size:0.8em;
  		margin:0;
  	}
  	.projects-preview-header{
  		padding:2.5em 2em 0.1em;
  		h1{
  			font:900 3em 'Lato', Helvetica;
  			&:after{
  				width:14%;
  			}
  		}

  	}
  	.projects-preview-list{
  		li{
  			display: inline-block;
  			width:33.3%;
  		}
  		li+li{
  			border-left:1px solid white;
  		}
  		
  	}
  	.project-preview-data{
  		
  		padding:1em 1em 3em;
  	}
}
@media only screen 
  and (min-width: 900px) {
  	.intro-container{
  		font-size:0.8em;
  		width:90%;
  	}
  	.intro{
  		width:64%;
  	}
  	.social-menu ul{
  		text-align: left;
  	}
  	.social-menu a{
  		font-size:1.8em;
  	}
  	.social-menu li:first-child{
  		padding-left:0;
  	}
  	.down-btn{
  		background-color:$menuGreen;
  		border:none;
  		display:block;
  		left:50%;
  		height:33px;
  		margin:1em 0 0 -14px;
  		outline:none;
  		position: absolute;
  		top:61%;
  		width:32px;
  		@include border-radius(50%);
  		@include transition-transform(.3s, ease-out);
  		&:after{
  			content:' ';
  			//background-color:darken($menuGreen, 20%);
  			background-color:$colorGrayLighter;
  			display: block;
  			height:33px;
  			margin:-25px 0 0 -6px;
  			position:absolute;
  			width:32px;
  			@include scale(0,0);
  			@include border-radius(50%);
  			@include transition-transform(.2s, ease-out);
  		}
  		&:hover{
  			//@include translate(0,4px);
  			&:after{
  				@include scale(.9,.9);
  			}
  			.arrow{
  				stroke:$menuGreen;
  			}
  		}
  		
  		svg{
  			position:relative;
  			z-index:3;
  		}

  	}
  	.projects-preview{
  		margin:15em 0 0;
  	}
  	.projects-preview-list{
  		article{
  			background-color:#222222;;
  		}
  		a article > img{
  			@include transition(all, .3s, ease-out);
  		}
  		a:hover article > img{
  			@include scale(0.9,0.9);
  		}
  	}
  	
}

@media only screen 
  and (min-width: 1225px) {
  	.intro-container{
  		width:60%;
  	}
}








